<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hike to Learn</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="header">
      <div class="title-link">
        <h1>
          <span role="img" aria-label="hike">🥾</span>
          <a id="title" href="/">Hike to Learn</a>
        </h1>
      </div>

      <nav>
        <div class="header-links">
          {{#if logged_in}}
          <a href="/flashcards" id="flashcard-link">Create Flashcard</a>
            <a href="/difficulty" id="difficulty-link">Difficulty</a>
          {{/if}}
          <a href="/login" id="login-link">Login</a>
             <a href="/signup" id="signup-link">Sign-up</a>
        </div>

      </nav>

    </header>
    <main class="TBD">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Once backend is setup, Render script for logged in users only -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}

</body>

</html>