<div>
    <div class="difficulty-container">
    <h1 class="difficulty-instructions">
      Choose your difficulty level:
    </h1>
    <div class="button-group">
      <button class="difficulty-button"   id="easy-button">
     Easy 
    </button>
     <button class="difficulty-button"   id="medium-button">
    Medium
    </button>
     <button class="difficulty-button"   id="hard-button">
    Hard
    </button>
    </div>
  </div>
</div>