
{{!-- {{HTML for Homepage}} --}}
<div class="background-image">
  <div class="create-container">
    <button class="create-button animate__animated animate__bounce"   id="promotional-banner">
      Let's take a hike...
    </button>
    <a href ="/login" id="login-button" class="create-button"> 
      <button class="create-button"   id="flashcard-button">
      Login
    </button>
    </a>
  </div>
</div>

